.forward {
    z-index: 3;
}

.clickable {
    cursor: pointer;
}

.flex-size{
    flex: 0 1 80px;
}
.flex {
    display: flex;
}
.flex-row{
    flex-direction: row;
    align-items: flex-end;
}
.space-between {
    justify-content: space-between;
}

.initial-header{
    text-align: initial;
}

.no-border {
    border: none;
}

.flex-col-wrap {
    display: flex;
    flex-flow: column wrap;
}
.flex-col-nowrap {
    display: flex;
    flex-flow: column nowrap;
}
.flex-row-wrap {
    display: flex;
    flex-flow: row wrap;
}
.row-align-topleft {
    justify-content: flex-start;
    align-items: flex-start;
}

.margin-left-none{
    margin-left: 0;
}

#margin-left-none{
    margin-left: 0;
}

.height-none{
    height: 41px;
    font-size: 14px;
    width: 97%;
    padding-top: 35px;
    padding-bottom: 14px;
}

.smaller-font{
    font-size: 11px;
}

#no-padding{
    padding: 0px 0px 0px;
    overflow: visible;
}

.slide{
    transition: 1s;
}

.sticky{
    position: sticky;
    top: 0;
}

.left-margin{
    margin-left: 7px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-30 {
    margin-top: 30px;
}

.scrolly {
    overflow-y: scroll;
}

.min-w-150 {
    min-width: 150px;
}