@import './reset.scss';
@import './config.scss';

 div[id*="button-"] {
    padding: 12px;
    background-color: #F0F0F0;
    margin-left: 15px;
    font-family: $font;
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
 }


.custom-link a {
   text-decoration: none;
   color: inherit
}

.btn-container {
   display: flex;
}

// btn btn--card for blue register/login button