@import './config.scss';
@import './button.scss';

.patient-index-main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.side-bar-main {
    background-color: white;
    height: 100%;
    box-shadow: 0 1px 8px -4px gray;
    border-radius: 2px;
}

.quick-view-main {
    width: 500px;
    background-color: white;
    box-shadow: 0 1px 8px -4px gray;
    border-radius: 2px;
}

.patient-index-main-body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 8px -4px gray;
    border-radius: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

.side-bar-content {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    width: 200px;
}

.patients-title {
    font-size: 26px;
    padding: 10px;
}

.patient-index-item-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    padding: 10px;
}

.patient-index-item-container {
    padding: 30px;
}

.patient-index-item-container:hover {
    cursor: pointer;
}

.sort-by {
    font-size: 18px;
    margin-left: 5px;
}

.sort-by-options {
    font-size: 15px;
    padding: 7px;
    margin-left: 10px;
}

.sort-by-options:hover {
    cursor: pointer
}

.sidebar-trigger {
    height: 20px;
    width: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.sidebar-trigger:hover {
    cursor: pointer;
}