@import './reset.scss';
@import './config.scss';
@import './base.scss';



.patient-show-page-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: $font;
    background-color: $lightgray-three;
}

// ======== side nav
.side-nav-container{
    background-color: $nav-navy;
    color: white;
    height: 100vh;
    width: 300px;
}

.side-nav-content {
    
    &__wrap {
        padding: 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__cluster {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        background-color: transparent;
        color: #9ba4b3;
    }

    &__icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $bright-purple;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
    }

    &__text {
        // display: none;
        margin-top: 10px;
        font-size: 0.8rem;
        
    }
}

.side-nav-stem{
    width: 10px;
    height: 50px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
}

.side-nav-content__cluster:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease-in;
}

.nav-selected {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease-in;
    color: white;
}
// ========= patient show card


.patient-show-card {
    flex: 1 0 500px;
    background-color: white;
    height: 80vh;
    overflow: scroll;
    margin: 50px;
    border-radius: 12px;
    padding: 50px 80px;
    box-sizing: border-box;
}

//========== patient info subcomp
.patient-show-inner-card {
    display: flex; 
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    

    &__header {
        font-size: 2rem;
        text-transform: uppercase;
    }
    &__body {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &__profile-img {
        // height: 400px;
        // height: 80%;
        flex: 0 0 300px;
        border-radius: 12px;
        width: 40%;
        border: 1px solid $lightgray-three;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
        flex-grow: 1;
        &--medication {
            width: 100%;
        }
        &--medication-history {

        }
    } 
}
.patient-show-inner-card__profile-img img {
    width: 100%;
}
.radio-column, .input-column {
    min-width: 250px;
    margin-left: 15px;
    flex-grow: 1;
}
.inner-card {
    
    &__field-grouping {
        // flex: 1 1 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        // width: 90%;
        box-sizing: border-box;
        margin: 10px auto;
        height: 70px;
    }
    &__field-label {
        position: absolute;
        top: 10px;
        left: 20px;
        font-size: 0.8rem;
        color: $core-teal;
        margin-right: 8px;
        text-transform: uppercase;
        margin-bottom: 10px;
        z-index: 1;
    }
    &__field-value {
        font-size: 1.1rem;
        padding: 20px 7px 5px 20px;
        border: 1px solid #eff0f1;
        border-radius: 8px;
        height: 70px;
        width: 100%;
        min-width: 200px;
        box-sizing: border-box;
    }
    &__checkbox-label {
        color: $core-teal;
        font-size: 0.8rem;
    }

    //========== patient info subcomp
    &__section-grouping{
        display: flex;
        flex-direction: column;
        width: 60%;
       
        &__electrodes{
            display: flex;
        }

    }

    &__right{
        width: 50%;
    }
}
.editable {
    background-color: #ebf6ff;
    transition: background-color 0.4s ease-in-out;
}

.header-divider {
    height: 5px;
    width: 120px;
    background-color: $lightgray-two;
    border-radius: 3px;
    margin: 30px 0;
}


.med-history {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.no-flex {
    flex: none;
}
.card-two-column {
    flex: 1 0 400px;
}

.btn-row-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute
}

//======= media queries
@media screen and (min-width: 1200px) {
    .patient-show-card {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
}


