@import './reset.scss';
@import './config.scss';
@import './base.scss';



.patient-show-page-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: $font;
    background-color: $lightgray-three;
}

// ======== side nav
.side-nav-container{
    background-color: $nav-navy;
    color: white;
    height: 100vh;
    // width: 0px;
    overflow: auto;
}

.side-nav-content {
    
    &__wrap {
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    &__cluster {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 30px;
        background-color: transparent;
        color: #9ba4b3;
    }

    &__cluster:hover {
        cursor: pointer;
    }

    &__icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $bright-purple;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.5rem;
    }

    &__text {
        // display: none;
        margin-top: 10px;
        font-size: 0.8rem;
        
    }
}
// SEEMS UNUSED --- DELETE
// .side-nav-stem{
//     width: 10px;
//     height: 50px;
//     border-radius: 2px;
//     background-color: rgba(255, 255, 255, 0.2);
// }

.side-nav-content__cluster:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease-in;
}

.nav-selected {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.2s ease-in;
    color: white;
}
// ========= patient show card


.patient-show-card {
    flex: 1 0 500px;
    background-color: white;
    height: 80vh;
    overflow: scroll;
    margin: 50px;
    border-radius: 12px;
    padding: 50px 80px;
    box-sizing: border-box;
}

//========== patient info subcomp
.patient-show-inner-card {
    display: flex; 
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    

    &__header {
        //keep
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    &__header-imaging { //Only for imaging card header
        font-size: 2rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
    }
    &__body {
        //keep
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &__info {
        //keep
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: 0px;
        box-sizing: border-box;
        flex-grow: 1;
    } 

    &__body-imaging-data {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &__medication-body {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }

    &__profile-img {
        // height: 400px;
        // height: 80%;
        flex: 0 0 300px;
        border-radius: 12px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__info2 {
        display: flex;
        flex-flow: row nowrap;
        box-sizing: border-box;
        width: 70%;
    } 
    &__info3 {
        display: flex;
        flex-flow: row nowrap;
        box-sizing: border-box;
        margin-left: 20px;
    } 
    &__info-imaging-data {
        margin-left: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    &__chart-headers {
        display: flex;
        flex-direction: row;
        color: $core-teal;
    }
}

.imaging-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.electrodes-title {
    margin-left: 50px;
    color: $core-teal;
    font-size: 25px;
}

.brain-gif {
    height: 70px;
    width: 70px;
    margin-left: 15px;
}

.patient-show-inner-card-show {
    display: flex; 
    flex-direction: column;
    // flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    position: relative;
    

    &__header {
        font-size: 2rem;
        text-transform: uppercase;
       
    }
    &__body {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &__profile-img {
       height: 50px;
       width: 50px;
    }
    &__info {
        display: flex;
        flex-flow: row nowrap;
        padding: 0px;
        box-sizing: border-box;
        flex-grow: 1;
    } 
    &__info2 {
        display: flex;
        flex-flow: row nowrap;
        box-sizing: border-box;
    } 
    &__info3 {
        display: flex;
        flex-flow: row nowrap;
        box-sizing: border-box;
        margin-left: 90px;
    } 
}
.patient-show-inner-card__profile-img img {
    width: 100%;
}

.input-column {
    min-width: 500px;
    width: 90%;
    flex-grow: 1;
}
.radio-column {
    min-width: 500px;
    min-width: 90%;
    flex-grow: 1;
}
.inner-card {
    
    &__field-grouping {
        //keep
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;
        height: 35px;
        border-bottom: 1px solid $lightgray-three;
        width: 100%;
    }
    &__field-label {
        //keep
        font-size: 0.9rem;
        color: $core-teal;
        width: 180px;
        text-align: left;
        text-transform: uppercase;
        margin-right: 250px;

    }
    &__field-value {
        //keep
        font-size: 1rem;
        padding: 5px;
        border: none;
        border-radius: 8px;
        height: 35px;
        // width: 50%;
        min-width: 200px;
        box-sizing: border-box;
        background-color: transparent;
    }
    &__field-grouping-imaging {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        box-sizing: border-box;
        height: 70px;
        
    }
    &__field-grouping-imaging-en {
       width: 125px;
    }
    &__field-grouping-imaging-eregion {
       width: 250px;
    }

    &__field-grouping2 {
        // flex: 1 1 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        // width: 90%;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 30px;
        height: 70px;
    }

    &__field-grouping2 {
        // flex: 1 1 200px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        // width: 90%;
        box-sizing: border-box;
        margin: 10px auto;
        height: 70px;
        margin-bottom: 35px;
    }

    &__field-value-medication {
        font-size: 1.1rem;
        padding: 20px 7px 5px 20px;
        border: 1px solid #eff0f1;
        border-radius: 8px;
        width: 50%;
        min-width: 200px;
        box-sizing: border-box;
    }
    &__checkbox-label {
        color: $core-teal;
        font-size: 0.8rem;
    }

    //========== patient info subcomp
    &__section-grouping{
        display: flex;
        flex-direction: column;
        width: 60%;
       
        &__electrodes{
            display: flex;
        }

    }

    &__right{
        width: 50%;
    }
}

.electrode-item-container {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.electrode-item-container:hover {
    color: $core-teal;
}

.electrode-table-main-container {
    margin-top: 20px;
    border: 1px solid #eff0f1;
    border-radius: 8px;
    padding: 20px;
    width: 350px
}

.electrode-table-body-container {
    padding-top: 25px;
    padding-bottom: 25px;
    color: $text-gray;
}

.electrode-header-number {
    margin-left: 32px;
}
.electrode-header-id {
    margin-left: 125px;
}
.electrode-header-region {
    margin-left: 115px;
}

.editable {
    //keep
    background-color: #ebf6ff;
    border: 1px solid #eff0f1;
    transition: background-color 0.4s ease-in-out;
}

.header-divider {
    height: 4px;
    width: 120px;
    background-color: $lightgray-two;
    border-radius: 3px;
    margin: 30px 0px 10px 0px;
}


.med-history {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.no-flex {
    flex: none;
}
.card-two-column {
    flex: 1 0 400px;
    display: flex;
    flex-direction: column;
}

.btn-row-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute
}

//======= media queries
@media screen and (min-width: 1200px) {
    .patient-show-card {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }
}

.radio-label {
    font-size: 0.9rem;
    color: rgb(84, 84, 84);
}

.btn-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 30px;
}

.medication-item {
    font-family: $font;
    color: $text-gray;
    font-size: 16px;
    padding: 5px;
    display: flex;
    flex-direction: flex-start;
}

.medication-body-container {
    margin-top: 20px;
}

