@import './reset.scss';
@import './button.scss';
@import './config.scss';

.user-show-container {
    font-family: $font;
    background-color: #eff0f1;
    height: 100vh;
    padding-top: 3%;
}

.user-show-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 12px;
}

.user-welcome-name {
    // border: 5px solid red;
    font-size: 22px;
    padding-top: 3.5%;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 5%;
}

.user-welcome-name h3 {
    padding-top: 1%;
    margin-left: 2%;
    // font-weight: 600;
}

.user-icon {
    // border: 1px solid lightgray;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-icon img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.user-info-container {
    // border: 5px solid blue;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.user-info-container h3 {
    font-size: 18px;
    // text-decoration: underline;
    color: #14aaf5;
}

.user-attributes-container {
    // border: 5px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    height: 88%;
}

.user-attributes-container p {
    font-size: 16px;
}

.user-att {
    // border: 5px solid yellowgreen;
    border-bottom: 1px solid #eff0f1;
    padding: 10px;
    width: 80%;
    // margin: 0 auto;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.user-att p {
    font-size: 16px;
}

.user-pending-container {
    // border: 5px solid black;
    width: 40%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.user-pend {
    border: 1px solid #eff0f1;
    border-radius: 8px;
    margin: 0 5%;
    margin-top: 5%;
    width: 90%;
    height: 70%;
}

.user-pend h3 {
    margin-top: 20px;
}

.pend-list {
    // border: 5px solid purple;
    margin: 0 4%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.pend-item {
    // border: 2px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border-bottom: 1px solid lightgray;
    // height: 9px;
}

// .pend-item span{
//     z-index: 2;
// }

#verify-btn {
    color: white;
    background-color: #14aaf5;
    border-radius: 4px;
    border: 1px solid #14aaf5;
    cursor: pointer;
    // z-index: 2;
}

#verify-btn:hover {
    // color: #14aaf5;
    // background-color: white;
    background-color: #6FD760;
    border: 1px solid #6FD760;
}

.non-admin-container {
    border: 1px solid #eff0f1;
    border-radius: 8px;
    margin: 0 5%;
    margin-top: 5%;
    width: 90%;
    height: 70%;
}

.non-admin-container h1 {
    margin: 24px 0;
    font-size: 28px;
    color: #14aaf5;
}

.non-admin-container h2 {
    color: #6FD760;
}



// .user-show-divider {
//     height: 5px;
//     width: 95%;
//     background-color: #d5dce0;
//     border-radius: 3px;
//     margin: 20px auto;
// }